body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(230,230,230);
  text-align: center;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.btn-blue {
  background-color: #19647E;
  padding: 10px 15px;
  border-radius: 4px;
}

.btn-blue:hover {
  background-color: blue;
}

#banner {
  background-image: url('images/background.png');
  padding: 150px 0;
  color: white;
}


h2 {
  font-weight: normal;
}

.card-white {
  background-color: white;
      width: 300px;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.2);
    margin: 40px 0;
}

.card-white img {
  width: 100px;
}

.list-inline li {
  display: inline-block;
}

.footer {
  background-color: rgb(60,60,60);
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.footer a {
  opacity: 0.7;
  margin: 0 5px;
  font-size: 24px;
}

.footer a:hover {
  opacity: 1;
}

.fas {
  color: red;
}




